.idea
.grunt
*.iml
*.swp
.DS_Store
.classpath
.error
.project
.settings
gwt-unitCache
rebel.xml
rebel-remote.xml
widgetsets
_SpecRunner.html
target
node_modules
config.json
*.aux
*.log
*.pdf
*.synctex.gz
*.toc
/classes
*dependency-reduced-pom.xml
finance-system-test/test-output/
